.curved-loop-jacket {
  width: 100%;
  display: flex;
  justify-content: center;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1440 / 280;
  overflow: visible;
  display: block;
  font-size: 1rem;
  /* actual size comes from className on <text> */
  fill: currentColor;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}